<html>
<body>
<h2>register here</h2>
<form action="/user_save/save" method="post">
  <label  title="name" >name</label>
  <input name="user.name" type="text">
  <label  title="pass" >pass</label>
  <input name="user.pass" type="text">
  <label title="facebookId">facebookId</label>
  <input name="user.facebookId" type="text">
  <label  title="coins">coins</label>
  <input name="user.coins" type="text">
  <input value="commit" type="submit"><input value="reset" type="reset">
</form>
</body>
</html>
